body {
    margin: 0 auto;
    max-width: 65em;
    line-height: 1.2;
    font-size: 14px;
    color: #454545;
    padding: 2em 2em;
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template:
        "header image"
        "split split"
        "main other"
        "footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-column-gap: 4em;
    grid-row-gap: 2em;
}

@media(max-width: 600px) {
    body {
        grid-template:
            "header"
            "image"
            "split"
            "main"
            "other"
            "footer";
    }
}


header {
    grid-area: header;
}

.image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.image img {
    max-width: 90%;
    max-height: 90%;
}

.split {
    grid-area: split;
    border-bottom: solid 1px #A5A5A5;
}

.main {
    grid-area: main;
}

.other {
    grid-area: other;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px #A5A5A5;
    padding-top: 1em;
}

@media(max-width: 500px) {
    footer {
        flex-direction: column;
    }
    footer span {
        line-height: 1.5;
    }
}

section h2,
section h1 {
    font-family: "Coda", sans-serif;
    text-transform: uppercase;
}

.personal h1 {
    font-size: 3em;
    font-weight: bolder;
}

section h2 {
    font-size: 1.6em;
    color: #0060FF;
    font-weight: bolder;
}

.experience-item,
.education-item,
.activity-item {
    display: grid;
    grid-template:
        "title title"
        "what when"
        "details details";
}

section h3 {
    grid-area: title;
}

section .where {
    display: none;
}

section .when {
    grid-area: when;
    justify-self: end;
}

section .role,
section .degree {
    grid-area: what;
    font-weight: bold;
}

section .details {
    grid-area: details;
    font-family: "Merriweather", serif;
    margin-top: 1em;
    line-height: 1.5;
    /* max-width: 90%; */
    text-align: justify;
    text-justify: inter-word;
}
